# all tabular files
**.csv
**.tsv
**.xlsx
**.xls

# all image files
**.jpg
**.jpeg
**.png
**.gif
**.bmp
**.svg
**.tiff
**.webp

# virtual environment
**.venv/

# zip files
**.zip
**.tar.gz
**.tar

# DS_Store files
**.DS_Store
