# all tabular files
**.csv
**.tsv
**.xlsx
**.xls

# all image files
**.jpg
**.jpeg
**.png
**.gif
**.bmp
**.svg
**.tiff
**.webp

# virtual environment
**.venv/

# zip files
**.zip
**.tar.gz
**.tar

# DS_Store files
**.DS_Store

/src/data/ALL_GNPS_20200511.json
/src/data/gnps_spectra.pkl

**.model*
src/data/gnps_positive_ionmode_cleaned_by_matchms.json
src/data/gnps_positive_ionmode_unique_inchikey_cleaned_by_matchms_and_lookups.json
src/custom_functions/__pycache__/pubchem_lookup.cpython-312.pyc

**doc/**